.container{
    display: flex; 
    border: 1px solid #000;
    width: 320px;
    height: 500px;
    flex-direction: column;
    margin: auto;
    gap: 12px;
    padding: 20px;
}

.caixa {
    height: 40px;

}

#button {
    height: 40px;
    background-color: #000;
    color: #fff;
    
}